.nine.wide.column, .three.column.row .column {
  background: rgba(255, 255, 255, .85);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.nine.wide.column {
  margin: 50px 4.5% auto 4.5%;
  height: auto;
}

div.ui.three.column.stackable.row {
  margin: 50px 3% auto 3%;
  height: calc(30vh);
  margin-bottom: 10%;
}

.three.column.row .column {
  margin: auto;
  height: calc(30vh);
  width: 30%;
  display: inline-block;
  text-align: center;
}

.columnContainer {
  top: 50%;
  transform: translateY(-56%);
  position: relative;
  font-size: 1.1em;
}

#user div.pusher.dashboardBody div.ui.three.column.stackable.row div h3,
#dashboard h3 {
  text-transform: uppercase;
  margin: 0;
  color: #626262;
  font: 300 1.1em 'Nunito Sans', sans-serif;
}

#dashboard h3.history {
  padding: 1%;
}

h3.Language.Analysis.History {
  font-size: 5em;
}
