/* Header */
.ui.container.header-image{
  height: calc(60vh);
  width: 100%;
  flex: 1 0 auto;
  background: url("../images/header2.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.header-message {
  margin: 10% 0 5% 5%;
  width: 55%;
}

#home h1.ui.horizontal.divider {
  font: 400 1.6em 'Nunito Sans', sans-serif;
  margin-top: 4%;
}

#home .ui.huge.primary.button {
  margin-top: 30px;
  font: 400 1.5em 'Nunito Sans', sans-serif;
  text-transform: uppercase;
}

a:hover.ui.huge.primary.button.home {
  background-color: #05386b;
  opacity: .9;
  filter: alpha(opacity=90);
}

/* Content */
#home div.ui.container.content.features {
  width: 85%;
  height: auto;
  margin: 4% auto 10% auto;
}

#home .ui.three.column.stackable.row {
  margin: auto;
}

#home .three.column.row .column {
  padding: 3%;
  margin: auto;
  height: calc(35vh);
  width: 30%;
  display: inline-block;
  text-align: center;
  font: 400 1em 'Nunito Sans', sans-serif;
  border-radius: 5px;
}

.ui.icon.header {
  margin-bottom: 30px;
  font: 600 1.8rem 'Nunito Sans', sans-serif;
}

#home div.ui.container.content.features p {
  font: 300 1.5em 'Nunito Sans', sans-serif;
  color: #6c6b6b;
}

.ui.icon.header .circular.icon {
  margin-bottom: 25px;
}


/* Footer */
.ui.footer.segment {
  width: 100%;
  margin-bottom: 0;
  background-color: #0f2d37;
  max-height: 300px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.ui.divided.grid {
  margin: auto;
  max-width: 75%;
}

.four.wide.column {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h2.four.wide.column, h3.four.wide.column {
  font-family: 'Raleway', sans-serif;
}

h2.ui.inverted.header, h3.ui.inverted.header{
  font-family: 'Roboto', helvetica, sans-serif;
}

h2.ui.inverted.header {
  font-size: 1.4em;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

h3.ui.inverted.header {
  font-size: 1.2em;
  margin-top: 0;
}


.ui.footer.basic.segment p {
  margin-top: 40px;
}

