#interviewContainer {
  height: calc(100vh);
  background: url("../images/interviewBackground2.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

p.prompt {
  padding: 12% 5%;
  margin: 2% auto 0 auto;
  font-size: 5em;
  /*color: #393939;*/
  color: #ECEBEB;
  text-shadow: 4px 5px 5px #000;
}

#speech button.submit {
  background: #13ed9a;
  color: #fff;
  margin-top: 10px;
}

button.massive.ui.inverted.button.start {
  position: relative;
  width: 20%;
  display: block;
  text-align: center;
  font: 400 1.5em 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 8% auto auto auto;
  background: rgba(255, 255, 255, .1);
}

button:hover.massive.ui.inverted.button.start {
  background: #fff;
}

#speech div {
  padding-bottom: 0;
}

#speech div.ui.container.content.features {
  width: 80%;
  margin: auto;
}


#speech {
  width: 100%;
}

#speech div.ui.three.column.stackable.row {
  margin: 10% auto auto auto;
  vertical-align: top;

}

#speech .three.column.row .column {
  width: 25%;
  height: auto;
}

#prompts .header-message {
  margin-top: 0;
}

@media (min-width: 1000px) {
  #speech .three.column.row .column {
    min-height: calc(30vh);
  }
}