.breadcrumb {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
  background: transparent;
}

.breadcrumb a {
  color: #fff;
}

.breadcrumb.results a {
  color: #464646;
}

.breadcrumb a:hover {
  color: #1ed992;
}

p.divider {
  margin-left: 15px;
  margin-right: 15px;
  display: inline;
  color: #fff;
}

.results p.divider {
  color: #464646;
}

#prompts, #speech, #results {
  margin: auto;
  width: 65%;
}

div.promptsScreen {
  background: transparent;
  min-height: 500px;
  /*height: 100%;*/
  margin: 70px auto 0 auto;
  /*border: 1px solid #bfc1c1;*/
  text-align: center;
  list-style: none;
}

#prompts h1 {
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
}

p.prompt {
  padding: 12% 5%;
  margin: 2% auto 0 auto;
  font-size: 5em;
  /*color: #393939;*/
  color: #ECEBEB;
  text-shadow: 4px 5px 5px #000;
}

#speech {
  margin-top: 0;
  margin-bottom: 40px;
}

#speech button.submit {
  background: #13ed9a;
  color: #fff;
  margin-top: 10px;
}

#results {
  background: #fff;
  min-height: 340px;
  margin: 2% auto 1% auto;
  border: 1px solid #bfc1c1;
}

#final_span, #interim_span {
  font-size: 2em;
  padding: 20px 30px;
  display: inline-block;
}

#analysis {
  margin: 150px auto 0 auto;
  width: 90%;
  height: 100%;
}

#analysis h1 {
  background: #13ed9a;
  padding-left: 20px;
  color: #fff;
  width: 30%;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;

}

#analysis p {
  background: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 10px;
  font-size: 1.5em;
  opacity: .70;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

#playback, #graph {
  margin: auto;
  width: 100%;
}

#playback {
  margin-left: 100px;
}

.login.ng-scope.ng-isolate-scope {
  height: auto;
  background-color: rgba(250, 250, 250, .90);
}

.modal-body {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  width: 150px;
  padding: 0;
  margin: 10px 20px 10px;
  color: #fff;
  border: none;
  transition: background-color .10s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.ui.huge.primary.button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #1ed992;
}

a:hover.ui.huge.primary.button {
  background-color: #05386b;
  opacity: .9;
  filter: alpha(opacity=90);
}

.ui.container.header-image{
  height: calc(60vh);
  width: 100%;
  flex: 1 0 auto;
  font-family: 'Montserrat', helvetica, sans-serif;
  background: url("../images/header2.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.header-message {
  margin: 12% 0 5% 5%;
  width: 55%;
  font-family: 'Raleway', sans-serif;
}

h1.ui.inverted {
  font-size: 5.0vh;
  color: #5a5a5a;
}

.ui.huge.primary.button {
  margin-top: 30px;
}

.ui.container.content {
  margin-bottom: 100px;
  font-family: 'Raleway', sans-serif;
}

.four.wide.column {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

h2.four.wide.column, h3.four.wide.column {
  font-family: 'Raleway', sans-serif;
}

.ui.footer.segment {
  width: 100%;
  margin-bottom: 0;
  background-color: #0f2d37;
  max-height: 300px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.ui.divided.grid {
  margin: auto;
  max-width: 75%;
}

.ui.footer.basic.segment p {
  margin-top: 40px;
}

.content {
  text-align: center;
}

h2.ui.inverted.header, h3.ui.inverted.header{
  font-family: 'Roboto', helvetica, sans-serif;
}

h2.ui.inverted.header {
  font-size: 1.4em;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

h3.ui.inverted.header {
  font-size: 1.2em;
  margin-top: 0;
}

#interview {
  height: 100%;
  background-image: url("../images/prompts.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 600px;
}

button.ui.red.flashing{
  display: inline;
  animation-name: flash;
  animation-duration: 1.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* Chrome 4+, Safari 4+, Opera 15+ */
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1.85s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  /* Firefox 5+ */
  -moz-animation-name: flash;
  -moz-animation-duration: 1.85s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite
}

@keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

/* Chrome 4+, Safari 4+, Opera 15+ */
@-webkit-keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

/* Firefox 5+ */
@-moz-keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

button.play {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 100px;
  position: relative;
  top: -370px;
  left: 500px;
  opacity: .6;
  filter: alpha(opacity=60);
  width: 10%;
  display: block;
  text-align: center;
}

.fa.fa-play {
  font-size: 200px;
  /*color: #1ed992;*/
  color: #464646;
}

button.huge.ui.right.labeled.icon.button {
/*  top: -370px;
  left: 500px*/
  margin: auto;
  width: 15%;
  display: block;
  text-align: center;
}

button:active, button:focus, button:selected, i:active, i:focus, i:selected {
  outline: none;
  border: none;
  text-decoration: none;
}

video {
  width: 80%;
  height: auto;
  border: 1px solid grey;
}

#download {
  margin-top: 15px;
}

#recorded {
  background-color: #fff;
}

.ui.horizontal.header.divider {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.ui.container.content {
  margin-bottom: 100px;
  font-family: 'Raleway', sans-serif;
}

p.bodyContent {
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.5em;
}

#record {
  color: transparent;
}

.modal-body {
  color: #fff;
}
