a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: #494949;
}

body {
  background: #f4f4f4;
  font: 1em 'Montserrat', sans-serif;
  height: 100%;
  color: #494949;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

#appContainer {
  width: 100%;
  margin: auto;
}

#header {
  /*background: #0f2d37;*/
  background: #fff;
  padding-bottom: 20px;
  text-align: center;
  list-style: none;
}

#header .generalNav {
  float: left;
}

#header .loginNav {
  float: right;
}

.generalNav, .loginNav {
  margin-top: 20px;
}

.generalNav a, .loginNav a {
  margin: 10px 20px 0 20px;
  padding-bottom: 15px
  font-size: 2em;
}

a, a:hover, a:active {
  text-decoration: none;
  color: #494949;
}

.generalNav a:hover, .loginNav a:hover, .generalNav a:active, .loginNav a:active {
  border-bottom: 2px solid #13ed9a;
}

.dropdown {
    float: left;
}

.dropdownItem {
    display: none;
    position: absolute;
}

.dropdownItem a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.dropdown:hover .dropdownItem {
    display: block;
}

.logo {
/*  background: #13ed9a;
  width: 20%;
  font-weight: 600;
  font-size: 3.5em;*/
  margin: 0 auto;
  display: inline-block;;
}

h1.logo {
  padding-top: 5px;
  font-weight: 600;
  font-size: 3em;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#prompts, #speech, #results, #analysis{
  margin: auto;
  width: 65%;
}

div.promptsScreen {
  background: #494949;
  min-height: 340px;
  margin: 70px auto 0 auto;
  border: 1px solid #bfc1c1;
  text-align: center;
  list-style: none;
  padding: 10% 5%;
}

p.prompt {
  margin: auto;
  font-size: 2.6em;
  color: #fff;
}

#speech {
  margin-top: 0;
  margin-bottom: 40px;
}

#speech button.submit {
  background: #13ed9a;
  color: #fff;
}

#results {
  background: #fff;
  min-height: 340px;
  margin: 2% auto 1% auto;
  border: 1px solid #bfc1c1;
}

#final_span, #interim_span {
  font-size: 2em;
  padding: 20px 30px;
  display: inline-block;
}

button.circular.ui.red.flashing{
  margin-top: 10px;
  margin-left: 10px;
  display: inline;
  animation-name: flash;
  animation-duration: 1.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* Chrome 4+, Safari 4+, Opera 15+ */
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1.75s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  /* Firefox 5+ */
  -moz-animation-name: flash;
  -moz-animation-duration: 1.75s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite
}

@keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

/* Chrome 4+, Safari 4+, Opera 15+ */
@-webkit-keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

/* Firefox 5+ */
@-moz-keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

#analysis {
  margin-top: 40px;
  margin-bottom: 200px;
}

#analysis h1 {
  background: #13ed9a;
  padding-left: 20px;
  color: #fff;
  width: 30%;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;

}

#analysis p {
  background: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 10px;
  font-size: 1.5em;
  opacity: .70;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

login.ng-scope.ng-isolate-scope {
  height: auto;
  background-color: rgba(250, 250, 250, .90);
}

.modal-body {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  width: 150px;
  padding: 0;
  margin: 10px 20px 10px;
  color: #fff;
  border: none;
  transition: background-color .10s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}