body {
  background: #f4f4f4;
  font: 1em 'Montserrat', sans-serif;
  height: 100%;
  color: #333333;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

#appContainer {
  width: 100%;
  margin: auto;
}

#header {
  background: #0f2d37;
  padding-bottom: 50px;
  margin-top: 0;
}

#header h1 {
  background: #13ed9a;
  padding-left: 20px;
  padding-top: 20px;
  color: #fff;
  width: 25%;
  font-weight: 600;
  font-size: 3.5em;
}

i.comment.outline.icon {
  padding-top: 0;
  position: absolute;
  top: -3px;
}

#prompts, #speech, #results, #analysis{
  margin: auto;
  width: 65%;
}

div.promptsScreen {
  background: #494949;
  min-height: 340px;
  margin: 70px auto 0 auto;
  border: 1px solid #bfc1c1;
  text-align: center;
  list-style: none;
  padding: 10% 5%;
}

p.prompt {
  margin: auto;
  font-size: 2.6em;
  color: #fff;
}

#speech {
  margin-top: 0;
  margin-bottom: 40px;
}

#speech button.submit {
  background: #13ed9a;
  color: #fff;
}

#results {
  background: #fff;
  min-height: 340px;
  margin: 2% auto 1% auto;
  border: 1px solid #bfc1c1;
}

#final_span, #interim_span {
  font-size: 2em;
  padding: 20px 30px;
  display: inline-block;
}

button.circular.ui.red.flashing{
  margin-top: 10px;
  margin-left: 10px;
  display: inline;
  animation-name: flash;
  animation-duration: 1.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* Chrome 4+, Safari 4+, Opera 15+ */
  -webkit-animation-name: flash;
  -webkit-animation-duration: 1.75s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  /* Firefox 5+ */
  -moz-animation-name: flash;
  -moz-animation-duration: 1.75s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite
}

@keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

/* Chrome 4+, Safari 4+, Opera 15+ */
@-webkit-keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

/* Firefox 5+ */
@-moz-keyframes flash {
  0% { opacity: 0.9 }
  25% { opacity: 0.5 }
  50% { opacity: 0.1 }
  75% { opacity: 0.5 }
  100% { opacity: 0.9 }
}

#analysis {
  margin-top: 40px;
  margin-bottom: 200px;
}

#analysis h1 {
  background: #13ed9a;
  padding-left: 20px;
  color: #fff;
  width: 30%;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;

}

#analysis p {
  background: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px 10px;
  font-size: 1.5em;
  opacity: .70;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
