<div id="appContainer">
  <div id="header">
    <h1><a ui-sref="app">Persona</a>
      <i class="comment outline icon"></i>
    </h1>
    <ul>
      <li><a ui-sref="app.interview">Interview</a>
        <ul>
          <li><a ui-sref="app.interview.practice">Practice</a></li>
          <li><a ui-sref="app.interview.mock">Mock Interview</a></li>
        </ul>
      </li>
      <li><a ui-sref="app.community">Community</a></li>
      <li><a ui-sref="app.user">My Dashboard</a></li> <!-- Add ng-if show if isLoggin -->
      <li><a ui-sref="login">Login</a></li> <!-- Add ng-if show if !isLoggin -->
      <li><a ui-sref="logout">Log Out</a></li> <!-- Add ng-if show if isLoggin -->
      <br />
      <li><a ui-sref="playback">Testing</a></li> 
    </ul>
  </div>
  <ui-view></ui-view>
</div>
