<div id="appContainer">
  <div id="header">
      <h1 class="logo">
        <a
          id="/home"
          ui-sref="app.home"
          ng-click="$ctrl.removePrevActiveOnClick()">
        Persona
        </a>
      </h1>
      <div class="generalNav">
        <a
          id="/interview"
          ui-sref="app.interview"
          class="drop"
          ng-click="$ctrl.removePrevActiveOnClick()">
        Interview
        </a>
        <a
          id="/community"
          ui-sref="app.community"
          ng-click="$ctrl.removePrevActiveOnClick()">
        Community</a>
        <a
          id="/user/dashboard"
          ng-if="$ctrl.isLoggedIn"
          ui-sref="app.user.dashboard"
          ng-click="$ctrl.removePrevActiveOnClick()">
        My Dashboard</a>
        <a
          ng-if="!$ctrl.isLoggedIn"
          ng-click="$ctrl.openComponentModal()"
          href="#"
          class="login">
        Login</a>
        <a
          ng-if="$ctrl.isLoggedIn"
          ui-sref="logout"
          class="login">
        Log Out</a>
      </div>
  </div>
</div>
<ui-view></ui-view>
