<div>
  <!-- Page Contents -->
  <div class="pusher">

      <div class="ui container header-image">
        <div class="header-message">
          <h1 class="ui inverted">
            An app that combines AI and the human element to provide the best feedback for your interview
          </h1>
        </div>
        <div class="ui huge primary button">Interview</div>
      </div>
    </div>
    <div class="ui container content">
      <h4 class="ui horizontal header divider">
        <a href="#">Case Studies</a>
      </h4>
      <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
      <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
      <a class="ui large button">I'm Still Quite Interested</a>
    </div>
    <div class="ui footer basic segment">
      <div class="ui stackable inverted divided grid">
        <div class="four wide column">
          <h2 class="ui inverted header">Peter Wang</h2>
          <h3 class="ui inverted header">Product Owner</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">David Inoa</h2>
          <h3 class="ui inverted header">Scrum Master</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">Travis Tillman</h2>
          <h3 class="ui inverted header">Software Engineer</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">Patty Kovash</h2>
          <h3 class="ui inverted header">Software Engineer</h3>
        </div>
      </div>
      <p style="color: white;">&copy; 2018 Persona<p>
    </div>
  </div>
</div>