<div id="home">
  <!-- Page Contents -->
  <div class="pusher">

      <div class="ui container header-image">
        <div class="header-message">
          <h1 class="ui inverted">
            Combining AI and the human element to provide the best feedback for your interview
          </h1>
          <a class="ui huge primary button" ui-sref="app.interview">Interview</a>
        </div>
      </div>
    </div>
    <div class="ui container content features">
      <div class="ui three column stackable row">
        <div class="column">
          <h2 class="ui icon header">
            <i class="circular record icon"></i>
            Interview Recording
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        </div>
        <div class="column">
          <h2 class="ui icon header">
            <i class="circular talk outline icon"></i>
            Linguistic Analysis
          </h2>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
        </div>
        <div class="column">
          <h2 class="ui icon header">
            <i class="circular unmute icon"></i>
            Personality Insights
          </h2>
          <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis.</p>
        </div>
      </div>
    </div>
    <div class="ui footer basic segment">
      <div class="ui stackable inverted divided grid">
        <div class="four wide column">
          <h2 class="ui inverted header">Peter Wang</h2>
          <h3 class="ui inverted header">Product Owner</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">David Inoa</h2>
          <h3 class="ui inverted header">Scrum Master</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">Travis Tillman</h2>
          <h3 class="ui inverted header">Software Engineer</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">Patty Kovash</h2>
          <h3 class="ui inverted header">Software Engineer</h3>
        </div>
      </div>
      <p><p>
    </div>
  </div>
</div>