<div>
  <!-- Page Contents -->
  <div class="pusher">

      <div class="ui container header-image">
        <div class="header-message">
          <h1 class="ui inverted">
            Combining AI and the human element to provide the best feedback for your interview
          </h1>
          <a class="ui huge primary button" ui-sref="app.interview.mock">Interview</a>
        </div>
      </div>
    </div>
    <div class="ui container content features">
      <div class="ui three column stackable row">
        <div class="column">
          <h2 class="ui inverted header">Peter Wang</h2>
        </div>
        <div class="column">
          <h2 class="ui inverted header">David Inoa</h2>
        </div>
        <div class="column">
          <h2 class="ui inverted header">Travis Tillman</h2>
        </div>
      </div>
<!--       <h4 class="ui horizontal header divider">
        <a href="#">How Are You Perceived?</a>
      </h4>
      <p class="bodyContent">Many people today lack the ability to express themselves in a clear and concise manner, a skill which is particularly important in the workplace. By allowing users an avenue to improve upon this ability through a mock interviews and live community feedback, we can assist the end user in supplementing their ability to speak clearly, in a manner which can invoke an emotional response from the interviewer/listener.</p>
      <p class="bodyContent">The name Persona came from the idea that people may be skilled in managing their message, but not their “Persona”.</p> -->
    </div>
    <div class="ui footer basic segment">
      <div class="ui stackable inverted divided grid">
        <div class="four wide column">
          <h2 class="ui inverted header">Peter Wang</h2>
          <h3 class="ui inverted header">Product Owner</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">David Inoa</h2>
          <h3 class="ui inverted header">Scrum Master</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">Travis Tillman</h2>
          <h3 class="ui inverted header">Software Engineer</h3>
        </div>
        <div class="four wide column">
          <h2 class="ui inverted header">Patty Kovash</h2>
          <h3 class="ui inverted header">Software Engineer</h3>
        </div>
      </div>
      <p><p>
    </div>
  </div>
</div>