 <div id="interview">
    <div class="breadcrumb">
      <a class="section" ui-sref="app.home">Home</a>
      <p class="divider">  /  </p>
      <a class="section" ui-sref="app.interview.mock">Interview</a>
    </div>
<!--   <button class="large ui button"><a ui-sref="app.interview.practice">Practice</a></button>
  <button class="large ui button"><a ui-sref="app.interview.mock">Mock Interview</a></button>
  <button class="large ui  button"><a ui-sref="app.interview.results">Results</a></button> -->
  <ui-view></ui-view>
</div>
