<div id="practice">
  <h1>PRACTICE</h1>
    <div>
      <form name="promptOptions">
        <label for="promptType">Question Type</label>
        <select
          name="promptType"
          ng-options="type.value for type in $ctrl.options.type track by type.id"
          ng-model="$ctrl.options.selectedType"
          ng-change="$ctrl.setPrompts()">
        </select>
        <label for="prompts">Select Question</label>
        <select
          name="prompts"
          ng-options="prompt.question for prompt in $ctrl.prompts track by prompt.id"
          ng-model="$ctrl.selectedPrompt"
          ng-change="$ctrl.selectPrompt()">
        </select>
      </form>
    </div>
  <prompts
    prompt="$ctrl.selectedPrompt">
  </prompts>
  <recorder></recorder>
</div>
