<div id="practice">
  <h1>PRACTICE</h1>
    <div>
      <form name="promptOptions">
        <label for="promptType">Question Type</label>
        <select
          name="promptType"
          ng-options="type.value for type in $ctrl.options.type track by type.id"
          ng-model="$ctrl.options.selectedType">
        </select>
      </form>
    </div>
  <prompts
    prompts="$ctrl.currentPrompts">
  </prompts>
  <speech
    service="$ctrl.toneAnalysis"
    result="$ctrl.showAnalysis"
    fillers="$ctrl.showFillers"
    select="$ctrl.select">
  </speech>

  <div class="ui divider"></div>

  <recorder></recorder>

  <analysis
    results="$ctrl.analysis"
    fillers="$ctrl.fillerAnalysis"
    total="$ctrl.total">
  </analysis>
</div>