<!-- <div id="prompts">
  <div class="promptsScreen">
      <h1>{{ $ctrl.currentPromptIndex + 2 }} of {{ $ctrl.prompts.length }}</h1>
      <p class="prompt">{{ $ctrl.currentPrompt }}</p>
  </div>
</div> -->

<div class="ui container header-image">
  <div class="header-message">
      <h1 class="ui inverted">
        {{ $ctrl.currentPrompt }}
      </h1>
    </div>
  </div>
  <div class="ui container content features">
    <div class="ui three column stackable row">
      <div class="column">
        <h2 class="ui icon header">
          <i class="circular record icon"></i>
          Interview Recording
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="circular talk outline icon"></i>
          Linguistic Analysis
        </h2>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <i class="circular unmute icon"></i>
          Personality Insights
        </h2>
        <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis.</p>
      </div>
    </div>
  </div>
</div>

