<div id="intTable">
  <table class="ui padded selectable column table">
    <thead>
      <tr>
        <th class="center aligned one wide">Interview Date</th>
        <th class="center aligned one wide">Interview ID</th>
        <th class="center aligned three wide">Question</th>
        <th class="center aligned three wide">Answer</th>
        <th class="center aligned one wide">Dominant Tone</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="answer in $ctrl.answers track by answer.id">
        <td class="center aligned">{{ answer.createdAt.slice(0, 10) }}</td>
        <td class="center aligned"><a href="">{{ answer.interviewId }}</a></td>
        <td>{{ answer.prompt.question }}</td>
        <td>{{ answer.answer }}</td>
        <td>{{ answer.toneAnalysis.tones[1].tone_name }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>