<div id="intTable">
  <table class="ui padded selectable column table">
    <thead>
      <tr>
        <th class="center aligned one wide">Interview Date</th>
        <th class="center aligned one wide">Interview ID</th>
        <th class="center aligned two wide">Video Link</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="interview in $ctrl.interviews track by interview.id">
        <td class="center aligned">{{ interview.createdAt.slice(0, 10) }}</td>
        <td class="center aligned"><a href="">{{ interview.id }}</a></td>
        <td ng-if="!interview.videoUrl"><a ng-href="" target="blank">Sorry, the video did not upload.</a></td>
        <td ng-if="interview.videoUrl"><a ng-href="{{ interview.videoUrl }}" target="blank">Interview recording</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>Total Interviews: {{ $ctrl.interviews.length }}</th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>