<div id="dashboard" class="nine wide column">
  <h3 class="history">History</h3>
</div>
<div class="ui three column stackable row">
  <div class="column">
    <div class="columnContainer">

        <h1 class="numberStats">{{ $ctrl.userInterviews.length }}</h1>

      <h3 class="ui header">Mock  Interviews  Taken</h3>
    </div>
  </div>
  <div class="column">
    <h3 class="ui header">Tone Analysis</h3>
  </div>
  <div class="column">
    <h3 class="ui header">Personality Analysis</h3>
  </div>
</div>
