<div id="intTable">
  <table class="ui padded selectable column table">
    <thead>
      <tr>
        <th class="one wide">Interview Date</th>
        <th class="two wide">Question</th>
        <th class="three wide">Answer</th>
        <th class="one wide">Dominant Tone</th>
        <th class="right aligned one wide"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="answer in $ctrl.userAnswers track by answer.id">
        <td>{{ answer.createdAt.slice(0, 10) }}</td>
        <td>{{ answer.prompt }}</td>
        <td>{{ answer.response }}</td>
        <td>{{ answer.analysis.tones[1].tone_name }}</td>
        <td class="right aligned">
            <button type="button"><i class="large remove circle icon"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>