<div id="dashboard" class="nine wide column" style="height: auto">
  <h3 class="Language Analysis History">Interview History - Past 5 Interviews</h3>
  <div class="column" >
    <line></line>
</div>
</div>
<div class="ui three column stackable row">
  <div class="column">
    <div class="columnContainer">
      <h3 class="ui header">Overall Language Analysis</h3>
      <barlang output="$ctrl.analysis[0].language"></barlang>
    </div>
  </div>
  <div class="column">
    <h3 class="ui header">Overall Tone Analysis</h3>
    <bar output="$ctrl.analysis[0].tones"></bar>
  </div>
  <div class="column">
    <h3 class="ui header">Overall Personality Analysis</h3>
    <radar output="$ctrl.analysis[0].social"></radar>
  </div>
</div>
