<table class="ui padded selectable four column striped table">
  <thead>
    <tr>
      <th>Interview Date</th>
      <th>Interview ID</th>
      <th>Notes</th>
      <th class="right aligned"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ $ctrl.userInterviews[0].createdAt }}</td>
      <td><a href="#">{{ $ctrl.userInterviews[0].id }}</a></td>
      <td>
        <div class="ui fluid transparent input">
          <input type="text" placeholder="Notes...">
        </div>
      </td>
      <td class="right aligned">
          <button type="button"><i class="large download icon"></i></button>
          <button type="button"><i class="large remove circle icon"></i></button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>Total Interviews: {{ $ctrl.userInterviews.length }}</th>
      <th></th>
      <th></th>
      <th></th>

<!--       <th colspan="3">
        <div class="ui right floated pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </th> -->
    </tr>
  </tfoot>
</table>


