<div id="user">
  <div class="ui bottom attached segment pushable">
    <div class="ui vertical sticky menu dashboardMenu">
      <div class="profile">
        <div class="image">
          <img src="../images/user.png">
        </div>
        <h3>{{$ctrl.userData.name}}</h3>
        <h3>{{$ctrl.userData.email}}</h3>
      </div>
      <a
        id="/user/dashboard"
        ui-sref="app.user.dashboard"
        class="item activeSub"
        ng-click="$ctrl.removeActiveSub($event)">
        <i class="bar chart icon"></i>
        Dashboard
      </a>
      <a
        id="/user/interviews"
        ui-sref="app.user.interviews"
        class="item"
        ng-click="$ctrl.removeActiveSub($event)">
        <i class="block layout icon"></i>
        Interviews
      </a>
      <a
        id="/user/videos"
        class="item"
        ui-sref="app.user.videos"
        ng-click="$ctrl.removeActiveSub($event)">
        <i class="record icon"></i>
        Videos
      </a>
    </div>
    <div class="pusher dashboardBody">
      <ui-view></ui-view>
    </div>
  </div>
</div>
