<div id="user">
  <div class="ui bottom attached segment pushable">
    <div class="ui vertical sticky menu dashboardMenu">
      <div class="profile">
        <div class="image">
          <img src="../images/patty2.png">
        </div>
        <h3>{{ $ctrl.username }}</h3>
      </div>
      <a ui-sref="app.user.dashboard" class="item">
        <i class="bar chart icon"></i>
        Dashboard
      </a>
      <a class="item">
        <i class="block layout icon" ui-sref="app.user.interviews"></i>
        Interviews
      </a>
      <a class="item">
        <i class="calendar icon"></i>
        History
      </a>
    </div>
    <div class="pusher dashboardBody">
      <ui-view></ui-view>
    </div>
  </div>
</div>